body {
  margin: 0;
}

header {
  position: fixed;
  margin: 20px;
  font-family: monospace;
}

section {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

.denial_img {
  background-image: url(img/Denial.svg);
  background-color: grey;
}

.anger_img {
  background-image: url(img/Anger.svg);
  background-color: #ff5757;
}
.bargain_img {
  background-image: url(img/Bargaining.svg);
  background-color: #c9e265;
}
.depress_img {
  background-image: url(img/sadness.svg);
  background-color: #03989e;
}
.accept_img {
  background-image: url(img/Acceptance.svg);
  background-color: white;
}
