body {
  margin: 0;
}

section {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 700px) {
  section {
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

header {
  font-size: large;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: rgb(54, 45, 45);
}

a:hover {
  color: #6b31f3;
}

.top {
  position: fixed;
  margin: 20px;
  font-family: monospace;
}

.denial_img {
  background-image: url(img/Denial.svg);
  background-color: grey;
}

.anger_img {
  background-image: url(img/Anger.svg);
  background-color: #ff5757;
}
.bargain_img {
  background-image: url(img/Bargaining.svg);
  background-color: #c9e265;
}
.depress_img {
  background-image: url(img/sadness.svg);
  background-color: #03989e;
}
.accept_img {
  background-image: url(img/Acceptance.svg);
  background-color: white;
}
