body {
  margin: 0;
}

header {
  position: fixed;
}

section {
  height: 100vh;
}

section.denial_img {
  background-color: grey;
}

.anger_img {
  background-color: #ff5757;
}
.bargain_img {
  background-color: #c9e265;
}
.depress_img {
  background-color: #03989e;
}
.accept_img {
  background-color: white;
}

img {
  width: 100%;
  height: auto;
}
